
<nav>
    <button>Personagens</button>
<div class="sec-center"> 
    
        <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
        <label class="for-dropdown" for="dropdown">{{getName}}<i class="uil uil-arrow-down"></i></label>
            <div class="section-dropdown"> 
                <a href="#">Configurações<i class="fa-solid fa-gear"></i></a>
                <a href="#">Sair<i class="uil uil-arrow-right"></i></a>
            </div>
       
        
    </div>
</nav>