p {
    font-size: 1.2em;
    color: rgb(247, 238, 238);
    text-shadow: 0px 0px 10px rgb(7, 7, 7);
    margin-top: 10px;
    margin-left: 10px;
}

@keyframes fadeIn {
    50% {
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#sect1 {
   background-image: url("src/assets/images/fundoprincipal.jpg");
   background-size: cover; 
   background-repeat: no-repeat;
   background-position-y: -6em;
   height: 52rem;

}

.containerPrincipal {
    padding-top: 16%;
    height: 15rem;
    width: 15rem;
    position: absolute;
    margin: 0 43%;
    

}

.containerPrincipal p {
    text-align: center;
}

.fadeIn1 .fadeIn2 .fadeIn3 .fadeIn4 {
    height: 20rem;
    width: 20rem;
    padding: 3rem;
    align-items: center;
    
}

.fadeIn1 {
    -webkit-animation: fadeIn 5s linear forwards;
    animation: fadeIn 5s linear forwards;
    position: absolute;
    opacity: 0;
    animation-delay: 2s;

}

.fadeIn2 {
    -webkit-animation: fadeIn 10s linear forwards;
    animation: fadeIn 10s linear forwards;
    position: absolute;
    opacity: 0;
    animation-delay: 7s;
}

.fadeIn3 {
    -webkit-animation: fadeIn 5s linear forwards;
    animation: fadeIn 5s linear forwards;
    position: absolute;
    opacity: 0;
    animation-delay: 17s;
}

.fadeIn4 {
    animation: fadeIn2 3s linear;
    position: absolute;
    opacity: 0;
    animation-delay: 22s;
    animation-fill-mode: forwards;
    
    
}

.containerPrincipal img{
    position: fixed;
    margin-top: -4rem;
    margin-left: -4rem;
    width: 20%;
    opacity: 0.8;
}