

<app-header></app-header>


<div id="sect1">
    <section class="containerPrincipal">
    
        <div class="fadeIn1">
          <p>Precisando de um lugar para criar e armazenar seus personagens em D&D 5e?</p>
        </div>
  
        <div class="fadeIn2">
          <p>Crie seus personagens consultando informações como raças, classes, magias, talentos e antecedentes.
            Poderá evoluir, adicionar equipamentos, magias e muito mais.</p>
        </div>
  
        <div class="fadeIn3">
            <p>Seja muito bem vindo aventureiro!</p>
        </div>
  
        <div class="fadeIn4">
          <img src="assets/images/logolowqualityblack.jpg" >
        </div>
  
      
    </section>
</div>
<app-footer></app-footer>


