<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
<script src="assets/js/limit-checkbox.js"></script>
<div class="holder">
    <container-element [ngSwitch]="count">
        <div *ngSwitchCase="1">

            <div class="one">
                <label for="name">
                    <p>Crie um nome</p>
                </label>
                <input type="text" id="name" placeholder="Crie um nome">
            </div>

        </div>


        <div *ngSwitchCase="2">

            <div class="two">
                <div class="container" ngValue="character">
                    <div class="card">
                        <a>
                            <div class="face face1">
                                <div class="content">
                                    <img src="assets/images/dwarf.svg">
                                    <h3>Anão</h3>
                                    <h5>Constituição + 2</h5>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>info sobre a raca</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a>
                            <div class="face face1">
                                <div class="content">
                                    <img src="assets/images/elven.svg">
                                    <h3>Elfo</h3>
                                    <h5>Destreza + 2</h5>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>info sobre a raca</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a>
                            <div class="face face1">
                                <div class="content">
                                    <img id="halfling" src="assets/images/halfling.svg">
                                    <h3>Halfling</h3>
                                    <h5>Destreza + 2</h5>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>info sobre a raca</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a>
                            <div class="face face1">
                                <div class="content">
                                    <img src="assets/images/human.svg">
                                    <h3>Humano</h3>
                                    <h5>Todos Atributos + 1</h5>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>info sobre a raca</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a>
                            <div class="face face1">
                                <div class="content">
                                    <img src="assets/images/draconic.svg">
                                    <h3>Draconato</h3>
                                    <h5>Forca + 2</h5>
                                    <h5 style="padding: 0rem;">Carisma + 1</h5>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>info sobre a raca</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a>
                            <div class="face face1">
                                <div class="content">
                                    <img src="assets/images/gnome.svg">
                                    <h3>Gnomo</h3>
                                    <h5>Inteligência + 2</h5>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>info sobre a raca</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a>
                            <div class="face face1">
                                <div class="content">
                                    <img src="assets/images/half-elven.svg">
                                    <h3>Meio-Elfo</h3>
                                    <h5>Carisma + 2</h5>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>info sobre a raca</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a>
                            <div class="face face1">
                                <div class="content">
                                    <img src="assets/images/half-orc.svg">
                                    <h3>Meio-Orc</h3>
                                    <h5>Força + 2</h5>
                                    <h5>Constituição + 1</h5>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>info sobre a raca</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a>
                            <div class="face face1">
                                <div class="content">
                                    <img src="assets/images/tiefling.svg">
                                    <h3>Tiefling</h3>
                                    <h5>Inteligência + 1</h5>
                                    <h5>Carisma + 1</h5>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>info sobre a raca</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

        </div>

        
        
        <div *ngSwitchDefault>...
        </div>
        
        <button (click)="fenomeno()">OK</button>
    
    </container-element>

</div>
<p>The button has been clicked {{count}} times.</p>