<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
<script src="assets/js/limit-checkbox.js"></script>
<div class="holder">
    <container-element [ngSwitch]="count">
        <div *ngSwitchCase="1">

            <div class="one">
                <label for="name">
                    <p>Crie um nome</p>
                </label>
                <input type="text" id="name" placeholder="Crie um nome">
            </div>

        </div>


        <div *ngSwitchCase="2">

            <div class="two">
                <div class="container" ngValue="character">
                    <div class="card">
                        <a>
                            <div class="face face1">
                                <div class="content">
                                    <img src="assets/images/dwarf.svg">
                                    <h3>Anão</h3>
                                    <h5>Constituição + 2</h5>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <h2>Sub-raças</h2>
                                    <span title=" Constituicao + 2, Sabedoria + 1">
                                        <h3>Anão da Colina</h3>
                                        <h5> Sabedoria + 1</h5>
                                    </span>
                                    <span title=" Constituicao + 2, Força + 2">
                                        <h3>Anão da Montanha</h3>
                                        <h5>Força + 2</h5>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a>
                            <div class="face face1">
                                <div class="content">
                                    <img src="assets/images/elven.svg">
                                    <h3>Elfo</h3>
                                    <h5>Destreza + 2</h5>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <h2>Sub-raças</h2>
                                    <span title=" Destreza + 2, Sabedoria + 1">
                                        <h3>Elfo da Floresta</h3>
                                        <h5>Sabedoria + 1</h5>
                                    </span>
                                    <span title=" Destreza + 2, Inteligência + 1">
                                        <h3>Alto elfo</h3>
                                        <h5>Inteligência + 1</h5>
                                    </span>
                                    <span title=" Destreza + 2, Carisma + 1">
                                        <h3>Drow</h3>
                                        <h5>Carisma + 1</h5>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a>
                            <div class="face face1">
                                <div class="content">
                                    <img src="assets/images/halfling.svg">
                                    <h3>Halfling</h3>
                                    <h5>Destreza + 2</h5>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <h2>Sub-raças</h2>
                                    <span title=" Destreza + 2, Carisma + 1">
                                        <h3>Pés Leves</h3>
                                        <h5> Carisma + 1</h5>
                                    </span>
                                    <span title=" Destreza + 2, Constituicao + 1">
                                        <h3>Robusto</h3>
                                        <h5>Constituicao + 1</h5>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a>
                            <div class="face face1">
                                <div class="content">
                                    <img src="assets/images/human.svg">
                                    <h3>Humano</h3>
                                    <h5>Todos Atributos + 1</h5>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <span title="+ 1 em todos atributos">
                                        <h3>Normal</h3>
                                        <h5> </h5>
                                    </span>
                                    <h3>Alternativo</h3>
                                    <span title="TRAÇOS RACIAIS ALTERNATIVOS
                                    Se sua campanha usa as regras opcionais de talentos do capítulo
                                    6, seu Mestre pode permitir que você utilize os traços raciais
                                    alternativos que substituem as características Aumento no Valor
                                    de Habilidade e Perícias">
                                        <h5>Aumento no Valor de Habilidade. Dois valores de habilidade, <br>
                                            à sua escolha, aumentam em 1.<br>
                                            Você ganha proficiência em uma perícia, à sua
                                            escolha.<br>
                                            Você adquire um talento de sua escolha.</h5>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a>
                            <div class="face face1">
                                <div class="content">
                                    <img src="assets/images/draconic.svg">
                                    <h3>Draconato</h3>
                                    <h5>Forca + 2</h5>
                                    <h5 style="padding: 0rem;">Carisma + 1</h5>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <span title="Draconatos. É fácil presumir que um draconato é um
                                    monstro, principalmente se suas escamas possuírem uma herança
                                    cromática. A não ser que o draconato comece a cuspir fogo e
                                    causar destruição, no entanto, as pessoas tendem a reagir com
                                    cautela ao invés de com medo descontrolado.
                                    ">
                                        <h3>Draconato</h3>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a>
                            <div class="face face1">
                                <div class="content">
                                    <img src="assets/images/gnome.svg">
                                    <h3>Gnomo</h3>
                                    <h5>Inteligência + 2</h5>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <h2>Sub-raças</h2>
                                    <span title=" Inteligência + 2, Destreza + 1">
                                        <h3>Gnomo da Floresta</h3>
                                        <h5>Destreza + 1</h5>
                                    </span>
                                    <span title=" Inteligência + 2, Constituicao + 1">
                                        <h3>Gnomo das Rochas</h3>
                                        <h5>Constituicao + 1</h5>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a>
                            <div class="face face1">
                                <div class="content">
                                    <img src="assets/images/half-elven.svg">
                                    <h3>Meio-Elfo</h3>
                                    <h5>Carisma + 2</h5>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <h3>+ 1 em dois atributos</h3>
                                    <span title="Escolha 2 atributos que receberá + 1">
                                        <div *ngFor="let chk of checkBox; let i = index">
                                            <input [(ngModel)]="chk.checked" type="checkbox" [disabled]="!chk.checked && maxNo" (change)="onChange(chk.checked)">{{chk.name}}
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a>
                            <div class="face face1">
                                <div class="content">
                                    <img src="assets/images/half-orc.svg">
                                    <h3>Meio-Orc</h3>
                                    <h5>Força + 2</h5>
                                    <h5>Constituição + 1</h5>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <span title="Good choice">
                                        <h3>Meio-Orc</h3>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a>
                            <div class="face face1">
                                <div class="content">
                                    <img src="assets/images/tiefling.svg">
                                    <h3>Tiefling</h3>
                                    <h5>Inteligência + 1</h5>
                                    <h5>Carisma + 1</h5>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <span title="Good choice">
                                        <h3>Tiefling</h3>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

        </div>
        <div *ngSwitchDefault>...</div>
        <button (click)="fenomeno()">OK</button>
    </container-element>

</div>
<p>The button has been clicked {{count}} times.</p>