<app-header></app-header>
 
<div class="mainbody">
            <div class="container"  ngValue="character">
                <div *ngFor="let character of char" class="card">
                    <div class="face face1">
                        <div class="content">
                            
                            <h3>{{character.name}}</h3>

                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content" >
                            <p>{{getRace(character.race)}} Raça: {{getRaceName()}}</p>
                            <p>{{getClass(character.charClass)}} CLasse: {{getClassName()}}</p>
                            
                        </div>
                    </div>
                </div>

                

            </div>
</div>

<app-footer></app-footer>